<form method="POST">
    <label>Name:</label><br>
    <input type="text" name="name"><br><br>

    <label>Code:</label><br>
    <input type="text" name="code"><br><br>

    <label>Description:</label><br>
    <textarea name="description"></textarea><br><br>

    <label>Telephone:</label><br>
    <input type="text" name="telephone"><br><br>

    <label>Instagram Link:</label><br>
    <input type="text" name="instagram"><br><br>

    <label>Email:</label><br>
    <input type="email" name="email"><br><br>

    <button type="submit">Add Product</button>
</form>
